<div class="container mt-4">
  <h1>{{user.username}}'s Profile</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <p>{{user.username}}</p>
          </div>
          <div>
            <strong>Registered at:</strong>
            <p>{{user.created}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="button-group d-flex">
            <button class="btn btn-primary w-100">Own</button>
            <button class="btn btn-success w-100">Like</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="gundam-tabset">
          <tab heading="About">
            <h4>Description</h4>
            <p>{{user.introduction}}</p>
          </tab>
          <tab heading="Messages">
            <h4>Presents series</h4>
            <p>All series <strong>{{user.created}}</strong> appears.</p>
          </tab>
          <tab heading="Photos">
            <h4>Submit photos</h4>
            <ngx-gallery style="display: inline-block; margin-bottom: 20px;" [options]="galleryOptions"
              [images]="galleryImages"></ngx-gallery>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
